@import './layout.css';

/*** Header part style ***/
.light-link {
  color: var(--htcWhite);
}
.light-link:hover {
  color: var(--htcGrey);
}

/*** Home Page block ***/
.enquiry {
  font-family: 'Helvetica', 'Helvetica Neue';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: var(--htcBlack);
  border: solid 1px var(--htcBlack);
  border-radius: 50px;
  padding: 5px 20px;
  background-color: var(--htcWhite);
}
.enquiry:hover {
  background-color: var(--htcBlack);
  color: var(--htcWhite);
}

.home_intro {
  width: 100%;
  height: 760px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  top: -130px;
  z-index: 1;
}

.learn_more {
  border: solid 1px;
  border-radius: 50px;
  padding: 5px 30px;
  text-transform: uppercase;
  background-color: var(--htcWhite);
}
.learn_more:hover {
  background-color: var(--htcBlack);
  color: var(--htcWhite);
}

.client-block {
  min-height: 300px;
}

.clientSliderContainer {
  height: 150px;
}


/*** Private Label block ***/
.kind-things-btn {
  text-transform: uppercase;
  padding: 5px 30px;
  border: solid 1px var(--htcBlack);
  border-radius: 50px;
}
.kind-things-btn.active, 
.kind-things-btn:hover {
  border: solid 1px var(--htcDarkOrange);
  color: var(--htcWhite);
  background-color: var(--htcDarkOrange);
}
